venv/

*.pyc
__pycache__/

instance/

application/game/static/images/
application/game/static/js/old/
application/game/static/js/myo.js
application/game/static/js/pixi.js
application/game/static/js/pixi.min.js
application/game/static/js/pixi.min.js.map
application/game/static/js/sound.js
application/game/static/sounds
application/static/icons/

.vscode/