{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block
navbar_links %}
<li class="nav-item">
  <a
    class="btn btn-secondary me-2"
    href="{{ url_for('home.index') }}"
    role="button"
    >Homepage</a
  >
</li>
<li class="nav-item">
  <a
    class="btn btn-outline-primary me-2"
    href="{{ url_for('home.myo') }}"
    role="button"
    >Myo Connect</a
  >
</li>
<li class="nav-item">
  {% if current_user.is_authenticated %} {% if current_user.pro_id %}
  <a
    class="btn btn-warning me-2"
    href="{{ url_for('game.index') }}"
    role="button"
    >Go to Game</a
  >
  {% else %}
  <a class="btn btn-warning me-2" href="#" role="button">Go to Dashboard</a>
  {% endif %} {% else %}<a
    class="btn btn-outline-primary me-2"
    href="{{ url_for('home.register') }}"
    role="button"
    >Create account</a
  >
  {% endif %}
</li>
{% endblock %} {% block navbar_span %} {% if current_user.is_authenticated %}
<a class="btn btn-danger ms-2" href="{{ url_for('home.logout') }}" role="button"
  >Log out</a
>{% else %}<a
  class="btn btn-primary ms-2"
  href="{{ url_for('home.login') }}"
  role="button"
  >Log in</a
>{% endif %}{% endblock %} {% block content %}
<div
  class="container mt-4 d-block bg-light border rounded-3 border-3"
  style="max-width: 720px"
>
  <h3 class="my-3 text-center">
    You need 2 things to play
    <i style="color: #6f42c1">Bleic: The Countdown</i>
  </h3>
  <div class="row row-cols-1 row-cols-md-2 g-2 mb-4 mx-2">
    <div class="col">
      <div class="card text-center">
        <img
          src="{{ url_for('static', filename='images/armband.png') }}"
          class="card-img-top mx-auto mt-3"
          alt="..."
          style="max-width: 100px"
        />
        <div class="card-body">
          <h5 class="card-title">Myo + Myo Connect</h5>
          <p class="card-text">
            <em>Myo Connect</em> is the application that allows your
            <em>Myo armband</em> to communicate with your computer.
          </p>
          <div>
            <a
              class="btn btn-outline-primary"
              href="{{ url_for('home.myo') }}"
              role="button"
              >Download Myo Connect</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img
          src="{{ url_for('static', filename='images/user.png') }}"
          class="card-img-top mx-auto mt-3"
          alt="..."
          style="max-width: 100px"
        />
        <div class="card-body">
          <h5 class="card-title">User account</h5>
          <p class="card-text">
            A user account in this website is required so that your in-game
            progress along with your settings are stored.
          </p>
          <div>
            <a
              class="btn btn-outline-primary"
              href="{{ url_for('home.register') }}"
              role="button"
              >Create a user account</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container mt-4 d-block bg-light border rounded-3 border-3"
  style="max-width: 720px"
>
  <h3 class="my-3 text-center">
    Are the above <span class="text-success">done</span>?
  </h3>
  <p class="lead text-center">
    Just <strong>Log in</strong> and then hit the
    <strong>Go to Game</strong> button in the navigation bar!
  </p>
</div>
{% endblock %}
