{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div
  class="container my-4 bg-light border border-dark border-3 rounded-3 text-center"
  style="max-width: 330px; --bs-bg-opacity: 0.75"
>
  <h1 class="text-uppercase my-3">Login</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="my-4 mx-auto">
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    <div class="mb-3">
      No account?
      <a href="{{ url_for('home.register') }}">Create one!</a>
    </div>
  </form>
</div>

{% endblock %}
