{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
navbar_links %}
<li class="nav-item">
  <a
    class="btn btn-outline-primary me-2"
    href="{{ url_for('home.index') }}"
    role="button"
    >Homepage</a
  >
</li>
<li class="nav-item">
  <a
    class="btn btn-outline-primary me-2"
    href="{{ url_for('home.myo') }}"
    role="button"
    >Downloads</a
  >
</li>
<li class="nav-item">
  <a
    class="btn btn-secondary me-2"
    href="{{ url_for('home.register') }}"
    role="button"
    >Registration</a
  >
</li>
{% endblock %} {% block navbar_span %}
<a class="btn btn-primary ms-2" href="{{ url_for('home.login') }}" role="button"
  >Log in</a
>{% endblock %}{% block content %}

<div class="container d-flex justify-content-center my-4">
  <h1 class="text-uppercase">Registration</h1>
</div>

<div
  class="container d-block text-center my-4 p-4 rounded border border-3 bg-light"
  style="max-width: 540px"
>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.user_type.label }}
      <div class="row justify-content-center">
        {% for subfield in form.user_type %}
        <div class="col-3">{{ subfield }} {{ subfield.label }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="mb-3">
      {{ form.professional.label }} {{ form.professional(class="form-control")
      }}
    </div>
    <div class="my-4 mx-auto">
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    <div class="mb-3">
      Already have an account?
      <a href="{{ url_for('home.login') }}">Log in.</a>
    </div>
  </form>
</div>

{% endblock %}
