{% extends "base.html" %} {% block title %}New routine{% endblock %} {% block
content %}

<div
  class="container my-4 bg-light border border-dark border-3 rounded-3 text-center"
  style="--bs-bg-opacity: 0.75"
>
  <h1 class="text-uppercase mt-3 mb-0">New routine</h1>

  <p class="mb-3">
    Instructions on how to fill the form can be found at the
    <a href="#heading2" class="text-dark">end of page</a>.
  </p>

  <form method="post">
    {{ form.hidden_tag() }}
    <div
      class="d-flex container mx-auto py-3 bg-light border border-3 justify-content-center"
    >
      <div class="fw-bold d-flex align-items-center px-3">
        {{ form.prog_title.label }}
      </div>
      <div>
        {{ form.prog_title(class="form-control text-center rounded-0
        border-secondary") }}
      </div>
    </div>
    <div class="container bg-light border border-3">
      <div class="my-2 fw-bold">Routine Days</div>
      <div class="my-2">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          id="select-all"
          style="min-width: 88.42px"
        >
          Select all
        </button>
        <button type="button" class="btn btn-secondary btn-sm" id="clear-all">
          Uncheck all
        </button>
      </div>
      <div class="my-2">
        {% for w in range(1, 3) %} {% for d in range(1, 8) %} {% if w|int==1 and
        d|int==1 %} {% set button="btn-primary" %} {% else %} {% set
        button="btn-outline-secondary" %} {% endif %}
        <button
          type="button"
          class="btn {{button}}"
          style="min-width: 43.25px"
          id="button-{{w}}{{d}}"
        >
          {{(w-1)*7+d}}
        </button>
        {% endfor %}{% endfor %}
      </div>
      <div class="my-2">
        {% for w in range(3, 5) %} {% for d in range(1, 8) %}
        <button
          type="button"
          class="btn btn-outline-secondary"
          style="min-width: 43.25px"
          id="button-{{w}}{{d}}"
        >
          {{(w-1)*7+d}}
        </button>
        {% endfor %}{% endfor %}
      </div>
    </div>

    <table class="table table-light table-hover border border-3 mb-0">
      <tbody>
        {% for w in range(1, 5) %} {% for d in range(1, 8) %} {% if not (w|int
        == 1 and d|int == 1) %} {% set style = "d-none" %} {% endif %}
        <tr class="border border-3 {{style}}" id="row-{{w}}{{d}}">
          <td class="py-3 pe-0" width="30%">
            <table
              class="table table-light table-sm table-hover table-borderless mb-0"
            >
              <thead>
                <tr>
                  <th scope="row" width="50%">Week-Day</th>
                  <th width="50%">{{w}}-{{d}}</th>
                </tr>
                {% if w|int == 1 and d|int == 1 %}
                <tr>
                  <th scope="row" width="50%">
                    <div class="dropdown-center">
                      <a
                        href=""
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Copy...
                      </a>
                      <ul class="dropdown-menu text-center">
                        <li
                          class="dropdown-item"
                          role="button"
                          id="copy-above-{{w}}{{d}}"
                        >
                          From above
                        </li>
                        <li
                          class="dropdown-item"
                          role="button"
                          id="copy-below-{{w}}{{d}}"
                        >
                          From below
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th width="50%">&nbsp;</th>
                </tr>
                {% endif %}
              </thead>
              <tbody>
                {% if not ( w|int == 1 and d|int == 1) %}
                <tr>
                  <th scope="row" width="50%">
                    <div class="dropdown-center">
                      <a
                        href=""
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Copy...
                      </a>
                      <ul class="dropdown-menu text-center">
                        <li
                          class="dropdown-item"
                          role="button"
                          id="copy-above-{{w}}{{d}}"
                        >
                          From above
                        </li>
                        <li
                          class="dropdown-item"
                          role="button"
                          id="copy-below-{{w}}{{d}}"
                        >
                          From below
                        </li>
                      </ul>
                    </div>
                  </th>
                  <td width="50%">
                    {% if errors_found and form['skip_'+w|string+d|string].data
                    == false %}
                    {{form['skip_'+w|string+d|string](class="form-check-input",
                    id='skip_'+w|string+d|string, hidden="hidden") }} {% else %}
                    {{ form['skip_'+w|string+d|string](class="form-check-input",
                    checked="true", id='skip_'+w|string+d|string,
                    hidden="hidden") }} {% endif %}
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row" width="50%">Sets Rest Time</th>
                  <td width="50%" class="p-0">
                    {{ form['rbts_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-bottom-0", style="height: 32px;" )
                    }}
                  </td>
                </tr>
                <tr>
                  <th scope="row" width="50%">Reps Rest Time</th>
                  <td width="50%" class="p-0">
                    {{ form['rbtr_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary", style="height: 32px;") }}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="py-3 ps-0">
            <table
              class="table table-light table-sm table-hover table-borderless mb-0"
            >
              <thead>
                <tr>
                  <th scope="col" width="16%"></th>
                  <th scope="col" width="16%">Wave In</th>
                  <th scope="col" width="16%">Wave Out</th>
                  <th scope="col" width="16%">Fist</th>
                  <th scope="col" width="16%">F. Spread</th>
                  <th scope="col" width="16%">Dbl. Tap</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" width="16%">Sets/Series</th>
                  <td width="16%" class="p-0">
                    {{ form['wvis_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['wvos_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fsts_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fsds_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['dtps_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-bottom-0", style="height: 32px;") }}
                  </td>
                </tr>
                <tr>
                  <th scope="row" width="16%">Repetitions</th>
                  <td width="16%" class="p-0">
                    {{ form['wvir_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['wvor_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fstr_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fsdr_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0 border-bottom-0",
                    style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['dtpr_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-bottom-0", style="height: 32px;") }}
                  </td>
                </tr>
                <tr>
                  <th scope="row" width="16%">Durations</th>
                  <td width="16%" class="p-0">
                    {{ form['wvid_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0", style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['wvod_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0", style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fstd_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0", style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['fsdd_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary border-end-0", style="height: 32px;") }}
                  </td>
                  <td width="16%" class="p-0">
                    {{ form['dtpd_'+w|string+d|string](class="form-control
                    form-control-sm p-0 text-center rounded-0 border border-1
                    border-secondary", style="height: 32px;") }}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        {% endfor %}{% endfor %}
      </tbody>
    </table>
    <div
      class="bg-light d-flex justify-content-center p-4 mb-3 border border-3"
    >
      <input type="submit" class="btn btn-primary w-25" value="Submit" />
    </div>
  </form>

  <h1 class="text-uppercase mt-4 mb-3" id="heading2">Instructions</h1>

  <p class="mb-3">
    This application supports up to 28 days of exercise partitioned in 4 weeks.
    Description of the supported gestures/exercises in the next section below.
    <br />
    Name your exercise routine however you wish through the
    <em>Routine Title</em> field so that you can recognize it among the rest
    that you have created.
    <br />
    Select how many and which days of the 28 available should be included in
    your exercise routine by using the numbered buttons in the
    <em>Routine Days</em> row.
    <br />
    All fields require non-negative integers (0, 1, 2, 3, ...). The
    <em>Durations</em> fields refer to the time (in seconds) each repetition of
    the gesture/exercise should last.
    <br />
    The <em>Sets Rest Time</em> and <em>Reps Rest Time</em> fields refer to the
    duration (in seconds) of rest between consecutive sets and consecutive
    repetitions accordingly.
    <br />
    Each day of your exercise routine requires all its fields to be filled. That
    means, if you do not want a field included (e.g., rest time), fill it with
    zero (0).
    <br />
    In each row corresponding to a day, there is a <em>Copy...</em> button which
    allows you to fill the fields of this row with the values of the above or
    the below row.
  </p>

  <h1 class="text-uppercase mt-4 mb-3" id="heading2">Gestures description</h1>
  <div class="container mb-4 bg-light border border-3">
    <div class="row align-items-center">
      <div class="col">
        <div class="mb-2">
          Use the arrows to cycle through the examples of gestures.
        </div>
        <div
          id="carouselCaptions"
          class="carousel carousel-dark slide border border-dark mx-auto"
          data-bs-ride="false"
          style="max-width: 400px"
        >
          <div class="carousel-indicators mb-1">
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{{ url_for('static', filename='images/in-photo.png') }}"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block h-100">
                <div
                  class="mt-2 bg-info rounded-pill w-75 mx-auto"
                  style="--bs-bg-opacity: 0.75"
                >
                  <p class="fw-bold my-0">Wave In</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='images/out-photo.png') }}"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block h-100">
                <div
                  class="mt-2 bg-info rounded-pill w-75 mx-auto"
                  style="--bs-bg-opacity: 0.75"
                >
                  <p class="fw-bold my-0">Wave Out</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='images/fist-photo.png') }}"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block h-100">
                <div
                  class="mt-2 bg-info rounded-pill w-75 mx-auto"
                  style="--bs-bg-opacity: 0.75"
                >
                  <p class="fw-bold my-0">Fist</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='images/spread-photo.png') }}"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block h-100">
                <div
                  class="mt-2 bg-info rounded-pill w-75 mx-auto"
                  style="--bs-bg-opacity: 0.75"
                >
                  <p class="fw-bold my-0">Fingers Spread</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='images/tap-photo.png') }}"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block h-100">
                <div
                  class="mt-2 bg-info rounded-pill w-75 mx-auto"
                  style="--bs-bg-opacity: 0.75"
                >
                  <p class="fw-bold my-0">Double Tap</p>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev align-items-start mt-1 justify-content-start"
            type="button"
            data-bs-target="#carouselCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next align-items-start mt-1 justify-content-end"
            type="button"
            data-bs-target="#carouselCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col">
        <div class="row py-1 text-start">
          <div class="col">
            <img
              src="{{ url_for('static', filename='images/in-icon.png') }}"
              style="max-height: 48px"
            />
            <strong>Wave In:</strong> Wave to the left if Myo is worn on the
            right arm, else to the right.
          </div>
        </div>
        <div class="row py-1 text-start">
          <div class="col">
            <img
              src="{{ url_for('static', filename='images/out-icon.png') }}"
              style="max-height: 48px"
            />
            <strong>Wave Out:</strong> Wave to the right if Myo is worn on the
            right arm, else to the left.
          </div>
        </div>
        <div class="row py-1 text-start">
          <div class="col">
            <img
              src="{{ url_for('static', filename='images/fist-icon.png') }}"
              style="max-height: 48px"
            />
            <strong>Fist:</strong> Make a fist.
          </div>
        </div>
        <div class="row py-1 text-start">
          <div class="col">
            <img
              src="{{ url_for('static', filename='images/spread-icon.png') }}"
              style="max-height: 48px"
            />
            <strong>Fingers Spread:</strong> Spread all fingers.
          </div>
        </div>
        <div class="row py-1 text-start">
          <div class="col">
            <img
              src="{{ url_for('static', filename='images/tap-icon.png') }}"
              style="max-height: 48px"
            />
            <strong>Double Tap:</strong> Quickly tap the thumb against the
            middle finger twice.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('med.static', filename='js/create.js') }}"></script>

{% endblock %}
