{% extends "base.html" %} {% block title %}Patients{% endblock %} {% block
content %}

<div
  class="container my-4 bg-light border border-dark border-3 rounded-3 text-center"
  style="--bs-bg-opacity: 0.75"
>
  <h1 class="text-uppercase mt-3 mb-0">Patients list</h1>

  <p class="mb-3">
    Hover over the icons of the Options column to see their descriptions.
  </p>

  <table class="table table-light table-hover border border-3">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Routine Title</th>
        <th scope="col">Progress</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for p in patients %}
      <tr>
        <td width="25%">{{ p.username }}</td>
        {% if p.prog_group %}
        <td width="25%">{{ routine_titles[loop.index-1] }}</td>
        {% else %}
        <td width="25%"><strong class="text-danger">Pending</strong></td>
        {% endif %}
        <td width="25%">
          {% if tot_days[loop.index-1] %}{{ (p.days_done * 100 /
          tot_days[loop.index-1])|int }}% ({{ p.days_done }}/{{
          tot_days[loop.index-1] }}){% else %}N/A{% endif %}
        </td>
        <td width="25%">
          {% if p.prog_group %}
          <a
            href="{{ url_for('med.patients') }}/{{ p.username }}"
            title="Patient sessions"
            ><img
              src="{{ url_for('static', filename='images/report-50.png') }}"
              style="height: 20px"
          /></a>
          <a
            href="{{ url_for('med.details', id=p.prog_group) }}"
            title="Routine details"
            ><img
              src="{{ url_for('static', filename='images/info-50.png') }}"
              style="height: 20px"
          /></a>
          {% else %}
          <a
            href="{{ url_for('med.assign')}}?user={{p.username}}"
            title="Assign routine"
            ><img
              src="{{ url_for('static', filename='images/add-26.png') }}"
              style="height: 20px"
          /></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
