{% extends "base.html" %} {% block title %}Patient {{ patient.username }}{%
endblock %} {% block content %}

<div
  class="container my-4 bg-light border border-dark border-3 rounded-3"
  style="--bs-bg-opacity: 0.75; max-width: 540px"
>
  <h1 class="text-uppercase my-3 text-center">Patient profile</h1>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="text-end w-50"><strong>Username</strong></td>
        <td>{{ patient.username }}</td>
      </tr>
      <tr>
        <td class="text-end w-50"><strong>Routine ID</strong></td>
        <td>
          {{ patient.prog_group }} {% if patient.prog_group %}
          <a
            class="badge bg-primary text-wrap ms-2"
            style="text-decoration: none"
            href="{{ url_for('med.details', id=patient.prog_group) }}"
            >Browse</a
          >
          {% else %}
          <a
            class="badge bg-primary text-wrap ms-2"
            style="text-decoration: none"
            href="{{ url_for('med.assign')}}?user={{patient.username}}"
            >Assign</a
          >
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="text-end w-50"><strong>Progress</strong></td>
        <td>
          {% if tot_days %}{{ (patient.days_done * 100 / tot_days)|int }}% ({{
          patient.days_done }}/{{ tot_days }}){% else %}N/A{% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="accordion accordion-flush my-3 border border-3"
    id="accordionFlush"
  >
    {% if not sessions[0] %}
    <p class="bg-light m-0 p-1 blockquote text-center">
      This user has no game sessions yet.
    </p>
    {% endif %} {% for s in sessions %}
    <div class="accordion-item bg-light">
      <h2 class="accordion-header" id="flush-heading{{s.id}}">
        <button
          class="accordion-button collapsed bg-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse{{s.id}}"
          aria-expanded="false"
          aria-controls="flush-collapse{{s.id}}"
        >
          Session Day #{{patient.days_done-loop.index+1}}
        </button>
      </h2>
      <div
        id="flush-collapse{{s.id}}"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading{{s.id}}"
        data-bs-parent="#accordionFlush"
      >
        <div class="accordion-body">
          <p>
            <strong>Date:</strong> {{ s.start_ts.strftime("%d/%m/%Y, %H:%M") }}
          </p>
          <p>
            <strong>Duration:</strong> {{
            ((s.end_ts-s.start_ts)|string).split(".")[0] }}
          </p>
          <p>
            <strong>Completion:</strong> {{
            '%d'|format((s.wvi_sets+s.wvo_sets+s.fst_sets+s.dtp_sets+s.fsd_sets)*100/(programs[loop.index-1].wvi_sets+programs[loop.index-1].wvo_sets+programs[loop.index-1].fst_sets+programs[loop.index-1].dtp_sets+programs[loop.index-1].fsd_sets))
            }}%
          </p>
          <p><strong>Issue:</strong> {{ s.issue }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
