{% extends "base.html" %} {% block title %}Routines{% endblock %} {% block
content %}

<div
  class="container my-4 bg-light border border-dark border-3 rounded-3 text-center"
  style="--bs-bg-opacity: 0.75"
>
  <h1 class="text-uppercase mt-3 mb-0">Routines list</h1>

  <div class="rounded-pill w-25 mx-auto mt-2 mb-3">
    <a
      class="btn btn-dark rounded-pill w-100"
      href="{{ url_for('med.create') }}"
      role="button"
      >Create new routine</a
    >
  </div>

  <table class="table table-light table-hover border border-3">
    <thead>
      <tr>
        <th scope="col">Routine ID</th>
        <th scope="col"># of weeks</th>
        <th scope="col"># of days</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in programs_dict.items() %}
      <tr>
        <td width="25%">{{ key }}</td>
        <td width="25%">{{ value[-1].week_no }}</td>
        <td width="25%">{{ value[-1].day_no }}</td>
        <td width="25%">
          <a class="text-dark" href="{{ url_for('med.routines') }}/{{ key }}"
            >Details</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
